
<div class="container-fluid">
    <h1 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"> SPRINT CALCULATOR</h1>
    <form>
      <div class="form-group">
        <input type="number" placeholder=" Sprint point"  class="form-control">
      </div>
     <br>
     <br>

    
     <button class="btn btn-primary"  >AUTO SELECT STORY</button><br>
   

    <button class="btn btn-primary"  (click)="removeAll()">CLEAR STORY</button><br>

     

    <button class="btn btn-primary"   (click)="removeAll()" >CLEAR SPRINTS</button><br>

    
    </form> 
  
 </div>