.container-fluid{
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.btn{
    
    
    color:white;
    margin-top: 10px;
    width: 80%;
    background-color:green;
}

.form-group{

    margin: 20px;
    width: 80%;
}